@model IEnumerable<WebApplication3.package>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.packge_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.packge_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.package_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.package_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.package_id })
        </td>
    </tr>
}

</table>
